.git
.gitignore
.idea
.vscode
bin/
configs/*.dev.yaml
data/*
!web
!web/**
!data/admin
!data/admin/**
!data/uni-app
!data/uni-app/**
!data/taro-app
!data/taro-app/**
tmp
dist
runtime
node_modules
coverage
*.log
logs/*
backups/*
codegen/*
