package biz

import (
	"context"
	"fmt"

[[.APIImport]]
	commonv1 "github.com/liujitcn/kratos-core/api/gen/go/common/v1"
	"github.com/liujitcn/kratos-core/biz"
	"github.com/liujitcn/kratos-admin/backend/internal/data/gen/data"
	"github.com/liujitcn/kratos-admin/backend/internal/data/gen/models"

	"github.com/liujitcn/gorm-kit/repository"
)

// [[.Entity]]Case [[.BusinessName]]业务实例。
type [[.Entity]]Case struct {
	*biz.BaseCase
	*data.[[.Repository]]
}

// New[[.Entity]]Case 创建[[.BusinessName]]业务实例。
func New[[.Entity]]Case(baseCase *biz.BaseCase, [[.EntityVar]]Repo *data.[[.Repository]]) *[[.Entity]]Case {
	return &[[.Entity]]Case{
		BaseCase: baseCase,
		[[.Repository]]:      [[.EntityVar]]Repo,
	}
}

[[.Methods]]
