.kratos-tab-bar {
  --kratos-tab-bar-color: #333;
  --kratos-tab-bar-active-color: #27ba9b;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  height: calc(48PX + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1PX solid #eee;
  background: #fff;
}

.kratos-tab-bar__item {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(clamp(1PX, env(safe-area-inset-bottom), 7PX));
  color: var(--kratos-tab-bar-color);
  font-size: 10PX;
  line-height: 12PX;
}

.kratos-tab-bar__icon {
  width: 28PX;
  height: 28PX;
  margin-bottom: 4PX;
}

.kratos-tab-bar__message-icon {
  position: relative;
  width: 22PX;
  height: 18PX;
  margin-bottom: 6PX;
  border: 2PX solid var(--kratos-tab-bar-color);
  border-radius: 6PX;
  box-sizing: border-box;
}
.kratos-tab-bar__message-icon::before {
  position: absolute;
  top: 5PX;
  left: 4PX;
  width: 3PX;
  height: 3PX;
  border-radius: 50%;
  background: var(--kratos-tab-bar-color);
  box-shadow:
    5PX 0 var(--kratos-tab-bar-color),
    10PX 0 var(--kratos-tab-bar-color);
  content: '';
}

.kratos-tab-bar__message-icon::after {
  position: absolute;
  bottom: -5PX;
  left: 3PX;
  width: 7PX;
  height: 7PX;
  border-right: 2PX solid var(--kratos-tab-bar-color);
  border-bottom: 2PX solid var(--kratos-tab-bar-color);
  background: #fff;
  content: '';
  transform: rotate(45deg);
}

.kratos-tab-bar__message-icon--active {
  border-color: var(--kratos-tab-bar-active-color);
}

.kratos-tab-bar__message-icon--active::before {
  background: var(--kratos-tab-bar-active-color);
  box-shadow:
    5PX 0 var(--kratos-tab-bar-active-color),
    10PX 0 var(--kratos-tab-bar-active-color);
}

.kratos-tab-bar__message-icon--active::after {
  border-color: var(--kratos-tab-bar-active-color);
}

.kratos-tab-bar__text--active {
  color: var(--kratos-tab-bar-active-color);
}

.kratos-tab-bar__badge {
  position: absolute;
  top: 0;
  right: calc(50% - 19PX);
  width: 10PX;
  height: 10PX;
  box-sizing: border-box;
  border: 2PX solid #fff;
  border-radius: 50%;
  background: #e5484d;
}
